.What-will{
    background-color: $white;
    padding: 109px 5vw 120px 5vw;
}

.What-will h2, .articles-resources h2{
    text-align: center;
    font-size: 42px;
    font-family: $titleFont;
    color: $blue;
    line-height: 50.4px; /* 120% */
    text-transform: capitalize;
}

.tips-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 5.5vw;
}

.tips-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    padding: 30px 0;
}

.tip{
    background-color: $tip-bg;
}

.tip-num{
    width: 50px;
    height: 50px;
    background-color: $yellow;
    border-radius: 50%;
    margin: 30px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip h3{
    font-size: 23px;
    color: $blue;
    font-family: $titleFont;
    line-height: 28.8px; /* 125.217% */
}

.tip p{
    margin: 30px 7vw auto 30px;
    font-size: 24px;
    font-family: $titleFont;
    color: $blue;
    line-height: 33.6px; /* 140% */
}

.photo-part .frame{
    position: relative;
    width: 35vw;
    aspect-ratio: 0.855;
}

.photo-part img{
    width: 37.5vw;
    aspect-ratio: 0.865;
    position: absolute;
    top: 318px;
    right: 5.75vw;
}

.articles-resources{
    background-color: $tip-bg;
    padding: 126px 5vw 150px 5vw;
}

.stories-wrapper{
    margin-top: 70px;
    padding: 0, 0.7vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.4vw;
}

.story{
    background-color: $white;
    border-radius: 5px;
}

.story img{
    width: 100%;
}

.story-description{
    padding: 25px 2vw 30px 2vw;
}

.story h4{
    font-size: 24px;
    font-family: $titleFont;
    color: $blue;
    width: 70%;
}

.story p{
    margin-top: 20px;
    width: 85%;
    font-size: 19px;
    line-height: 30.4px; /* 160% */
}

.story .date{
    color: $blue;
    width: 100%;
    text-align: right;
    font-size: 16px;
    line-height: 25.5px; /* 159.375% */
}