@import 'variables.scss';

header{
 display: flex;
 justify-content: space-between;
 padding: 20px 5%;
 background-color: $blue;
}

.social-icons{
    display: flex;
    margin: auto 0;
}

.main-logo{
    margin: auto 2.5vw auto 0;
    width: 8.5vw;
    height: 35px;
}

.social-icon-wrapper:not(:last-child){
    margin-right: 0.7vw;
}

.social-icon-wrapper{
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border: 2px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    margin: auto;
}

nav a{
    font-family: $textFont;
    font-size: 17px;
    color:  #F6F8FC;
    cursor: pointer;
}

ul{
    display: flex;
    list-style: none;
    margin: 0 2vw;
    gap: 2vw;
}

.order-today{
    width: 15vw;
    min-width: 120px;
    height: 66px;
    background-color: $yellow;
    color: $blue;
    font-family: $titleFont;
    font-size: 19px;
    border: 2px solid $yellow;
}