@import 'header.scss', 'variables.scss', 'footer.scss', 'homeMain.scss', 'authorMain.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, a{
    cursor: pointer;
}

.yellow{
    color: $yellow;
}
