@import 'header.scss', 'variables.scss', 'footer.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: $maxWidth;
    margin: auto;
    padding: 0 5%;
    background-color: $blue;
}
