@import 'header.scss', 
'variables.scss', 
'footer.scss', 
'homeMain.scss', 
'authorMain.scss', 
'companiesMain.scss',
'articlesMain.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

button, a{
    cursor: pointer;
}

.yellow{
    color: $yellow;
}
