$maxWidth : 3840px;
$titleFont : 'Cardo', serif;
$textFont : 'Inter', sans-serif;
$yellow : #FFCA42;
$blue: #1B3764;
$white: #FFFFFF;
$grey: #B4C7E7;
$dark-grey: #969AA0;
$author-bg : #F5F8FC;
$tip-bg : #F4F8FF;